.react-bootstrap-table table {
    color: rgba(255,255,255,0.8);
    animation-name: fade-in;
    animation-duration: 0.5s;
}

.react-bootstrap-table table thead tr {
    background-color: #343a40;
}

.react-bootstrap-table table tbody tr:nth-child(odd) {
    background-color: rgba(108, 117, 125, 0.4);
}

.react-bootstrap-table table tbody tr:nth-child(even) {
    background-color: rgba(52, 58, 64, 0.4)
}

.react-bootstrap-table table thead th {
    border-top: 1px solid #6c757d;
}

.react-bootstrap-table table th {
    border-bottom: 2px solid #6c757d;
}

.react-bootstrap-table table tbody td {
    border: 0;
}

ul.pagination {
    animation-name: fade-in;
    animation-duration: 0.5s;
}

ul.pagination .page-link {
    background-color: #6c757d;
    border-color: #6c757d;
    color: rgba(255,255,255,0.8);
}

ul.pagination .active .page-link {
    background-color: #343a40;
    border-color: #343a40;
    color: rgba(255,255,255,0.8);
}

.react-bs-table-sizePerPage-dropdown #pageDropDown {
    animation-name: fade-in;
    animation-duration: 0.5s;
}

.react-bs-table-sizePerPage-dropdown ul.dropdown-menu{
    background-color: #343a40;
}

.react-bs-table-sizePerPage-dropdown ul.dropdown-menu .dropdown-item{
    color: rgba(255,255,255,0.8);
}

.react-bs-table-sizePerPage-dropdown ul.dropdown-menu .dropdown-item:hover{
    background-color: #6c757d;
}

.selection-cell-header, .selection-cell {
    border-right: 1px solid #6c757d !important;
}