body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #434a52;
  animation: animatedBackground 10s linear infinite alternate;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

  
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
 }
 ::-webkit-scrollbar-thumb {
  background: #292b2c;
  border-radius: 15px;
 }
 ::-webkit-scrollbar-thumb:hover{
  background: linear-gradient(13deg, #c7ceff 14%,#f9d4ff 64%);
 }
 ::-webkit-scrollbar-track{
  background: #c6c8ca;
  border-radius: 15px;
  box-shadow: inset 7px 10px 12px #c6c8ca;
 }


@keyframes fade-in {
  from {opacity: 0;}
  to {opacity: 1;}
}